

$Bright-orange: #e38826;
$Dark-cyan: #006970;
$Very-dark-cyan: #004241;
// (paragraphs)
$Transparent-white: hsla(0, 0%, 100%, 0.75);
// (background, headings, buttons)
$Very-light-gray: hsl(0, 0%, 95%);

$primary:$Bright-orange;
$secondary:$Dark-cyan;
$tertiary:$Very-dark-cyan;